#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define SYMB  1
#define FUNC  2
#define NAVI  3
#define MOUS  4
#define SYST  5

&mt {
    flavor = "tap-preferred";
    quick-tap-ms = <100>;
};

&lt {
    flavor = "tap-preferred";
    quick-tap-ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";

        symb_tog {
            bindings = <&tog 1>;
            key-positions = <33 36>;
        };

        syst_tog {
            bindings = <&tog 5>;
            key-positions = <24 34>;
        };
    };

    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 15 26 6 16 27 7 17 28 8 18 29 9 19 30>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 10 21 22 11 1 2 12 23 3 13 24 25 14 4>;
        };

        hml_layer: hml_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 15 26 6 16 27 7 17 28 8 18 29 9 19 30>;
        };

        hmr_layer: hmr_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 10 21 22 11 1 2 12 23 3 13 24 25 14 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
            &kp Q            &kp W                &kp E           &kp R              &kp T                 &kp Y             &kp U               &kp I           &kp O                &kp P
            &hml LEFT_ALT A  &hml LEFT_CONTROL S  &hml_layer 1 D  &hml LEFT_SHIFT F  &hml RIGHT_ALT G      &hmr RIGHT_ALT H  &hmr RIGHT_SHIFT J  &hmr_layer 1 K  &hmr LEFT_CONTROL L  &hmr LEFT_ALT SEMI
&kp ESCAPE  &kp Z            &kp X                &kp C           &hml RIGHT_GUI V   &kp B                 &kp N             &hmr RIGHT_GUI M    &kp COMMA       &kp DOT              &kp SLASH           &to 3
                                                  &sl FUNC        &lt 4 BACKSPACE    &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 TAB           &kp C_MENU
            >;
        };

        SYMB {
            display-name = "Symbols";
            bindings = <
       &kp NUMBER_1          &kp NUMBER_2              &kp NUMBER_3  &kp NUMBER_4         &kp NUMBER_5                &kp NUMBER_6         &kp NUMBER_7           &kp NUMBER_8  &kp NUMBER_9              &kp NUMBER_0
       &hml LEFT_ALT ESCAPE  &hml LEFT_CONTROL INSERT  &kp DELETE    &hml LEFT_SHIFT TAB  &hml RIGHT_ALT BACKSPACE    &hmr RIGHT_ALT LEFT  &hmr RIGHT_SHIFT DOWN  &kp UP        &hmr RIGHT_CONTROL RIGHT  &hmr LEFT_ALT ENTER
&to 0  &kp GRAVE             &kp MINUS                 &kp EQUAL     &kp LEFT_BRACKET     &kp RIGHT_BRACKET           &kp BACKSLASH        &kp SQT                &kp COMMA     &kp PERIOD                &kp SLASH            &trans
                                                       &trans        &trans               &trans                      &trans               &trans                 &trans
            >;
        };

        FUNC {
            display-name = "Function";
            bindings = <
       &kp F1        &kp F2            &kp F3  &kp F4          &kp F5           &kp F6  &kp F7                &kp F8              &kp F9             &kp F10
       &kp LEFT_ALT  &kp LEFT_CONTROL  &trans  &kp LEFT_SHIFT  &kp RIGHT_ALT    &trans  &kp RA(LEFT_BRACKET)  &kp RA(APOSTROPHE)  &kp RA(SEMICOLON)  &trans
&to 0  &kp F11       &kp F12           &trans  &trans          &trans           &trans  &trans                &trans              &trans             &to 5    &trans
                                       &trans  &trans          &trans           &trans  &trans                &trans
            >;
        };

        NAVI {
            display-name = "Navigation";
            bindings = <
       &trans      &trans   &trans   &trans   &trans           &kp HOME  &kp DEL        &kp INS      &kp END    &kp BACKSPACE
       &kp ESCAPE  &kp INS  &kp DEL  &kp TAB  &kp BACKSPACE    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &kp ENTER
&to 0  &trans      &trans   &trans   &trans   &trans           &trans    &kp PAGE_DOWN  &kp PAGE_UP  &trans     &trans         &to 0
                            &trans   &trans   &trans           &trans    &trans         &trans
            >;
        };

        MOUS {
            display-name = "Mouse";
            bindings = <
        &trans    &trans     &trans     &trans     &trans      &trans          &trans          &trans        &trans           &trans
        &mkp MB5  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB4    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp LCLK
&trans  &trans    &trans     &trans     &trans     &trans      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans     &trans
                             &trans     &trans     &trans      &trans          &trans          &trans
            >;
        };

        SYST {
            display-name = "System";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans            &trans        &trans        &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &kp K_MUTE        &kp C_VOL_DN  &kp C_VOL_UP  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_PLAY_PAUSE  &kp K_PREV    &kp K_NEXT    &trans  &trans  &trans
                        &trans  &trans  &trans    &trans            &trans        &trans
            >;
        };
    };
};
