#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0
#define SYMB  1
#define FUNC  2
#define NAVI  3
#define MOUS  4
#define SYST  5

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
        SYMB {
            display-name = "Symbols";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
        FUNC {
            display-name = "Function";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
        NAVI {
            display-name = "Navigation";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
        MOUS {
            display-name = "Mouse";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
        SYST {
            display-name = "System";
            bindings = <
              &kp Q  &kp W  &kp E     &kp R                  &kp T                 &kp Y             &kp U              &kp I      &kp O    &kp P
              &kp A  &kp S  &kp D     &kp F                  &kp G                 &kp H             &kp J              &kp K      &kp L    &kp SEMI
&kp ESCAPE    &kp Z  &kp X  &kp C     &kp V                  &kp B                 &kp N             &kp M              &kp COMMA  &kp DOT  &kp SLASH            &to 6
                            &to FUNC  &mt LEFT_SHIFT ESCAPE  &mt LEFT_GUI SPACE    &mt LEFT_GUI RET  &lt 3 BACKSPACE  &kp MINUS
            >;
        };
    };
};
