//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-full.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&uc {
    default-mode = <UC_MODE_LINUX_ALT>;  // Replace with desired input system.
};

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        sway_space_layer: sway_space_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SWAY_SPACE_LAYER";
            bindings = <&kp>, <&sway_space>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        j_ao: j_ao {
            compatible = "zmk,behavior-mod-morph";
            label = "J_AO";
            bindings = <&kp J>, <&kp RA(LEFT_BRACKET)>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        k_ae: k_ae {
            compatible = "zmk,behavior-mod-morph";
            label = "K_AE";
            bindings = <&kp K>, <&kp RA(APOSTROPHE)>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        l_oe: l_oe {
            compatible = "zmk,behavior-mod-morph";
            label = "L_OE";
            bindings = <&kp L>, <&kp RA(SEMICOLON)>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        sway_enter_layer: sway_enter_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SWAY_ENTER_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sway_enter>;
        };

        sticky_layering: sticky_layering {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_LAYERING";
            bindings = <&to>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        sway_lock: sway_lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(R) &to 0>;
            label = "SWAY_LOCK";
        };

        sway_workspace: sway_workspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Q) &to 0>;
            label = "SWAY_WORKSPACE";
        };

        sway_enter: sway_key_and_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(ENTER) &to 0>;
            label = "SWAY_KEY_AND_EXIT";
        };

        sway_space: sway_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &to 0>;
            label = "SWAY_SPACE";
        };

        sway_shift_space: sway_shift_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(SPACE)) &to 0>;
            label = "SWAY_SHIFT_SPACE";
        };

        sway_ctrl_space: sway_ctrl_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(SPACE)) &to 0>;
            label = "SWAY_CTRL_SPACE";
        };

        sway_kill: sway_kill {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(C)) &to 0>;
            label = "SWAY_KILL";
        };

        sway_reload: sway_reload {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(R)) &to 0>;
            label = "SWAY_RELOAD";
        };

        sway_exit: sway_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(E)) &to 0>;
            label = "SWAY_EXIT";
        };

        sway_resize: sway_resize {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &to 0>;
            label = "SWAY_RESIZE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q  &kp W  &kp E    &kp R          &kp T                   &kp Y                 &kp U              &kp I      &kp O    &sticky_layering 1 1
              &kp A  &kp S  &kp D    &kp F          &kp G                   &kp H                 &j_ao              &k_ae      &l_oe    &kp P
&lt 3 ESCAPE  &kp Z  &kp X  &kp C    &kp V          &kp B                   &kp N                 &kp M              &kp COMMA  &kp DOT  &lt 2 SEMI            &to 6
                            &kp DEL  &kp BACKSPACE  &mt LEFT_SHIFT SPACE    &mt LEFT_CONTROL RET  &mt RIGHT_ALT TAB  &kp MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
       &kp PAGE_UP    &kp HOME       &kp UP_ARROW   &kp END        &kp SLASH          &kp PLUS   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &to 0
       &kp PAGE_DOWN  &kp LEFT       &kp DOWN       &kp RIGHT      &kp KP_MULTIPLY    &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp N0
&to 0  &kp LS(INS)    &kp LS(LC(X))  &kp LS(LC(C))  &kp LC(LS(V))  &kp DOT            &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SEMI  &to 0
                                     &trans         &trans         &trans             &trans     &trans        &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
       &kp EXCL      &kp AT         &kp HASH   &kp DOLLAR  &kp PERCENT      &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACE    &trans    &trans
       &kp QUESTION  &kp PIPE       &kp SLASH  &kp TILDE   &kp CARET        &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET  &kp LEFT_BRACE     &kp APOS  &trans
&to 0  &trans        &kp BACKSLASH  &trans     &kp GRAVE   &kp AMPERSAND    &trans                 &trans            &kp DOUBLE_QUOTES  &trans    &trans  &trans
                                    &trans     &trans      &trans           &trans                 &trans            &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &studio_unlock  &kp RG(E)  &trans  &to 4     &trans  &trans  &trans  &trans  &kp F1
        &trans       &trans          &trans     &trans  &trans    &trans  &trans  &trans  &trans  &kp F10
&trans  &trans       &trans          &trans     &trans  &trans    &trans  &trans  &trans  &trans  &kp F20  &kp F7
                                     &trans     &trans  &trans    &trans  &trans  &trans
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &kp F7         &trans  &trans  &kp F12
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &kp F22          &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };

        sway {
            bindings = <
       &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)   &kp LG(NUMBER_5)                  &kp LG(NUMBER_6)                  &kp LG(NUMBER_7)  &kp LG(NUMBER_8)  &kp LG(NUMBER_9)  &kp LG(NUMBER_0)
       &kp LG(A)         &kp LG(S)         &kp LG(E)         &kp LG(F)          &sway_resize                      &kp LG(H)                         &kp LG(J)         &kp LG(K)         &kp LG(L)         &trans
&to 0  &sway_lock        &sway_kill        &kp LG(W)         &trans             &sway_workspace                   &trans                            &trans            &trans            &sway_exit        &sway_reload      &to 0
                                           &sway_ctrl_space  &sway_shift_space  &sway_space_layer LEFT_SHIFT 0    &sway_enter_layer LEFT_CONTROL 0  &trans            &trans
            >;
        };
    };
};
